<div class="container">
    <div class="row">
        <div class="col-md-7  mx-auto">
            <img src="../public/img/undraw_blog_post_re_fy5x.svg" alt="blog">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="bottom-buffer center about">Blog</h3>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% posts.forEach(post => { %>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><%= post.title %></h5>
                      <p class="card-text mb-1"><%= post.content.slice(0,91) + '...' %></p>
                      <p class="card-text  mb-0"><small class="text-muted"><%= moment(post.post_date).format("dddd, MMMM DD, YYYY") %></small></p>
                      <p class="card-text"><small class="text-muted">Posted by: <%= post.posted_by %></small></p>
                      <a href="/blog/<%= post._id %>" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
            </div>
        <% }) %>
    </div>
</div>

