<div class="container-fluid">
    <div class="row m-0">
        <div class="col col-lg-2">
            <div class="container data-container border">
                <h4>Updates <i class="bi bi-megaphone"></i></h4>
                <p>Financial Trades from House and Senate Members</p>
                <p><i class="bi bi-eyeglasses"></i> A Collection of Records Compiled by a Dedicated Group of 
                    Individuals aspiring for Transparency in Government
                </p>
                <h4>For More Updates: </h4>
                
                <div class="social-media">
                    <!-- Twitter -->
                    <span class="social"><a href="#!"><i class="bi bi-twitter"></i> CapitalTrades</a></span>
                    <!-- Reddit -->
                    <span class="social"><a href="#"><i class="bi bi-reddit"></i> CapitalTrades</a></span>
                </div>
                
            </div>
            <div class="container data-container border">
                    <h5 class="center">Trades at a Glance</h5>
                    <p class="center">Updated: <%= recordData.updated %></p>
                    <p class="center">Records Gathered: <%= recordData.totalRecords %></p>
                    <p class="center">Total Value Traded</p>
                    <p class="center"><%= recordData.totalValue %></p>
                    
            </div> 
            <div class="container data-container border">
                <div class="m-1">
                    <h5 class="center">Signup for the Newsletter!</h5>
                    <form id="newsletter-form" onsubmit='newsletterSubmission'>
                        <input type="text" class="m-1 form-control" placeholder="Enter email" id="email" name="email">
                        <button type="submit" class="m-1 btn btn-success border-rad" id="email-btn" style="background-color: #63A3B6; color: #EEEEEE">Subscribe</button>
                    </form>
                </div> 
            </div> 
        </div>
        <div class="col col-lg-10">
            <div class="data-container border">
                <h1>Most Recent Trades</h1>
                <table id="transaction-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:10%">Name</th>
                            <th style="width:10%">State</th>
                            <th style="width:10%">Owner</th>
                            <th style="width:10%">Asset</th>
                            <th style="width:10%">Transaction Type</th>
                            <th style="width:10%">Notification Date</th>
                            <th style="width:10%">Transaction Date</th>
                            <th style="width:10%">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% transactions.forEach(transaction => { %>
                            <tr><td><a href='/person/<%= transaction.person._id %>'><%= transaction.person.name %></a></td>
                                <td><%= transaction.person.state %></td>
                                <td><%= transaction.owner %></td>
                                <td><%= transaction.name %></td>
                                <td><%= transaction.code %></td>
                                <td><%= moment(transaction.receipt_date).format("MM-DD-YYYY") %></td>
                                <td><%= moment(transaction.notification_date).format("MM-DD-YYYY") %></td>
                                <td><%= transaction.amount %></td>
                            </tr>
                        <% }) %>
                    </tbody> 
                </table>
            </div>
            <div class="data-container border">
                <h1>Most Recent Assets</h1>
                <table id="asset-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:10%">Name</th>
                            <th style="width:10%">Owner</th>
                            <th style="width:10%">Asset</th>
                            <th style="width:10%">Value</th>
                            <th style="width:10%">Income Type(s)</th>
                            <th style="width:10%">Income amount</th>
                            <th style="width:10%">Notification Date</th>
                            <th style="width:10%">Transaction Date</th>
                            <th style="width:8%">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% assets.forEach(asset => { %>
                            <tr><td><a href='/person/<%= asset.person._id %>'><%= asset.person.name %></a></td>
                                <td><%= asset.owner %></td>
                                <td><%= asset.name %></td>
                                <td><%= asset.ticker %></td>
                                <td><%= asset.income_type %></td>
                                <td><%= asset.income_amount %></td>
                                <td><%= moment(asset.notification_date).format("MM-DD-YYYY") %></td>
                                <td><%= moment(asset.transaction_date).format("MM-DD-YYYY") %></td>
                                <td><%= asset.amount %></td>
                            </tr>
                        <% }) %>
                    </tbody> 
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
    $('#transaction-table').DataTable({
            'scrollY': '50vh',
            'scrollX': true,
            'order': [6, 'desc'],
            'scrollCollapse': true,
            'info': false,
            'lengthChange': false,
            'searching': false,
            'paging': false
        });
    });

    $(document).ready(function () {
    $('#asset-table').DataTable({
            'scrollY': '50vh',
            'scrollX': true,
            'order': [6, 'desc'],
            'scrollCollapse': true,
            'info': false,
            'lengthChange': false,
            'searching': false,
            'paging': false
        });
    });
</script>
<script>
   
    const newsletterSubmission = async function(event){
        event.preventDefault();

        let data = {
            email: document.getElementById('email').value
        }

        let response = await fetch("/newsletter", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data),
        })

        response = await response.json()
        showConfirmation(response.status)

    }

    function showConfirmation(status){
        if (status === 400){
            document.getElementById('email').value = "Email Not Added"
        } else if (status === 405){
            document.getElementById('email').value = "Email Exists"
        } else {
            document.getElementById('email').value = "Email Added"
        }
    }

    const form = document.getElementById("newsletter-form")
    form.addEventListener("submit", newsletterSubmission)

</script>


    

