<div class="container-fluid">
    <div class="row m-0">
        <div class="col col-lg-2">
            <div class="container data-container border">
                <h4>Updates <i class="bi bi-megaphone"></i></h4>
                <p>Financial Trades from House and Senate Members</p>
                <p><i class="bi bi-eyeglasses"></i> A Collection of Records Compiled by a Dedicated Group of 
                    Individuals aspiring for Transparency in Government
                </p>
                <h4>For More Updates: </h4>
                
                <div class="social-media">
                    <!-- Twitter -->
                    <span class="social"><a href="#!"><i class="bi bi-twitter"></i> CapitalTrades</a></span>
                    <!-- Reddit -->
                    <span class="social"><a href="#"><i class="bi bi-reddit"></i> CapitalTrades</a></span>
                </div>
                
            </div>
            <div class="container data-container border">
                    <h5 class="center">Trades at a Glance</h5>
                    <p class="center">Updated <%= recordData.updated %> minutes ago</p>
                    <p class="center"><%= recordData.totalRecords %></p>
                    <p class="center">Records Gathered</p>
                    <p class="center"><%= recordData.totalValue %></p>
                    <p class="center">Total Value Traded</p>
                    <p class="center"><%= recordData.totalReturn %></p>
                    <p class="center">Total % Return</p>
            </div> 
        </div>
        <div class="col col-lg-10">
            <div class="data-container border">
                <h1>Most Recent Trades</h1>
                <table id="" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 20%">Name</th>
                            <th>State</th>
                            <th>District</th>
                            <th>Owner</th>
                            <th>Asset</th>
                            <th>Transaction Type</th>
                            <th>Notification Date</th>
                            <th>Transaction Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% transactions.forEach(transaction => { %>
                            <tr><td><a href='/person/<%= transaction.person._id %>'><%= transaction.person.name %></a></td>
                                <td><%= transaction.person.state %></td>
                                <td><%= transaction.person.district %></td>
                                <td><%= transaction.owner %></td>
                                <td><%= transaction.asset_name %></td>
                                <td><%= transaction.transaction_type %></td>
                                <td><%= moment(transaction.transaction_date).format("MM-DD-YYYY") %></td>
                                <td><%= moment(transaction.notification_date).format("MM-DD-YYYY") %></td>
                                <td><%= transaction.amount %></td>
                            </tr>
                        <% }) %>
                    </tbody> 
                </table>
            </div>
            <div class="data-container border">
                <h1>Most Recent Assets</h1>
                <table id="" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 20%">Name</th>
                            <th>Owner</th>
                            <th>Asset</th>
                            <th>Ticker</th>
                            <th>Description</th>
                            <th>Value</th>
                            <th>Income Type(s)</th>
                            <th>Income amount</th>
                            <th>Notification Date</th>
                            <th>Transaction Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% assets.forEach(asset => { %>
                            <tr><td><a href='/person/<%= asset.person._id %>'><%= asset.person.name %></a></td>
                                <td><%= asset.asset_owner %></td>
                                <td><%= asset.asset_name %></td>
                                <td><%= asset.asset_ticker %></td>
                                <td><%= asset.asset_description %></td>
                                <td><%= asset.asset_value %></td>
                                <td><%= asset.asset_income_type %></td>
                                <td><%= asset.asset_income_amount %></td>
                                <td><%= moment(asset.notification_date).format("MM-DD-YYYY") %></td>
                                <td><%= moment(asset.transaction_date).format("MM-DD-YYYY") %></td>
                                <td><%= asset.amount %></td>
                            </tr>
                        <% }) %>
                    </tbody> 
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    $('.table').DataTable({
            'scrollX': true,
            'scrollY': true,
            'info': false,
            'lengthChange': false,
            'searching': false,
            'paging': false
        });
    });
</script>


    

