<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-2">
            <section>
                <div class="info-box">
                    <div class="update">
                        <h3>Updates: </h3>
                        <p>Financial Trades from House and Senate Members</p>
                        <p>08/30/2021 - Successful connection of Mongodb to backend of website</p>
                        <p>Mickey Mouse is the first record</p>
                        <!-- Twitter -->
                        <a href="#!"><i class="bi bi-twitter"></i></a>
                        <!-- Instagram -->
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <!-- Reddit -->
                        <a href="#"><i class="bi bi-reddit"></i></a>
                    </div>
                    <div class="website-data">
                        <div class="website-glance">
                            <h3>Trades at a Glance</h3>
                            <h6>Updated [X] minutes ago</h6>
                        </div>
                        <div class="records-count">
                            <h4>XX,XXX</h4>
                            <h6>Records Gathered</h6>
                        </div>
                        <div class="total-value">
                            <h4>$XXX,XXX</h4>
                            <h6>Total Value Traded</h6>
                        </div>
                        <div class="total-percent">
                            <h4>XX.XX%</h4>
                            <h6>Total % Return</h6>
                        </div>
                    </div>  
                </div>
            </section>
        </div>
        <div class="col-md-12 col-lg-10">
            <h1>Most Recent Trades</h1>
            <table id="transactionTable" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 20%">Name</th>
                        <th>State</th>
                        <th>District</th>
                        <th>Owner</th>
                        <th>Asset</th>
                        <th>Transaction Type</th>
                        <th>Notification Date</th>
                        <th>Transaction Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% transactions.forEach(transaction => { %>
                        <tr><td><a href='/person/<%= transaction.person._id %>'><%= transaction.person.name %></a></td>
                            <td><%= transaction.person.state %></td>
                            <td><%= transaction.person.district %></td>
                            <td><%= transaction.owner %></td>
                            <td><%= transaction.asset_name %></td>
                            <td><%= transaction.transaction_type %></td>
                            <td><%= moment(transaction.transaction_date).format("MM-DD-YYYY") %></td>
                            <td><%= moment(transaction.notification_date).format("MM-DD-YYYY") %></td>
                            <td><%= transaction.amount %></td>
                        </tr>
                    <% }) %>
                </tbody> 
            </table>
        </div>
    </div>
</div>
<script defer>
    $(document).ready(function () {
    $('#transactionTable').DataTable();
    });
</script>


    

