<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="data-container card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src=<%= person.image %> class="img-fluid rounded-start border-img" alt=<% person.name %> >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Name: <%= person.name %></h5>
                            <p class="card-text">Position: <%= person.position %></p>
                            <p class="card-text">State: <%= person.state %></p>
                            <p class="card-text">District: <%= person.district %></p>
                            <p class="card-text">Party: <%= person.party %></p>
                            <p class="card-text">Chamber: <%= person.chamber %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="data-container border">
        <h3>Stock Trades</h3>
        <table id="" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Asset</th>
                    <th>Transaction Type</th>
                    <th>Notification Date</th>
                    <th>Transaction Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <% transactions.forEach(transaction => { %>
                    <tr><td><%= person.name %></td>
                        <td><%= transaction.owner %></td>
                        <td><%= transaction.name %></td>
                        <td><%= transaction.code %></td>
                        <td><%= moment(transaction.receipt_date).format("MM-DD-YYYY") %></td>
                        <td><%= moment(transaction.notification_date).format("MM-DD-YYYY") %></td>
                        <td><%= transaction.amount %></td>
                    </tr>
                <% }) %>
            </tbody> 
        </table>
    </div>
    <div class="data-container border">
        <h3>Assets</h3>
        <table id="" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th style="width:10%">Name</th>
                    <th style="width:10%">Owner</th>
                    <th style="width:10%">Asset</th>
                    <th style="width:10%">Value</th>
                    <th style="width:10%">Income Type(s)</th>
                    <th style="width:10%">Income amount</th>
                    <th style="width:10%">Notification Date</th>
                    <th style="width:10%">Transaction Date</th>
                    <th style="width:8%">Amount</th>
                </tr>
            </thead>
            <tbody>
                 <% assets.forEach(asset => { %>
                            <tr><td><%= person.name %></td>
                                <td><%= asset.owner %></td>
                                <td><%= asset.name %></td>
                                <td><%= asset.ticker %></td>
                                <td><%= asset.income_type %></td>
                                <td><%= asset.income_amount %></td>
                                <td><%= moment(asset.notification_date).format("MM-DD-YYYY") %></td>
                                <td><%= moment(asset.transaction_date).format("MM-DD-YYYY") %></td>
                                <td><%= asset.amount %></td>
                            </tr>
                        <% }) %>
            </tbody> 
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.table').DataTable({
            'scrollY': '50vh',
            'scrollCollapse': true,
            'info':false,
            'searching': false,
            'lengthChange': false,
            'paging': false
        })
    });
</script>